{
  "bot": {
    "token":"DISCORD TOKEN",
    "serverId": "SERVER ID",
    "prefix": "!",
    "debug": true,
    "testnet": true
  },
  "zen": {
    "priv":"",
    "address":""
  },
  "mongodb": {
    "url":"mongodb://localhost:27017/tipbot",
    "options": {
      "useMongoClient": true
    }
  },
  "moderation":{
    "role": "ALLOWED ROLE ID",
    "logchannel": "LOG CHANNEL ID"
  }
}
