{
  "bot": {
    "token":"DISCORD TOKEN",
    "serverId": "SERVER ID",
    "prefix": "!",
    "debug": true
  },
  "zen": {
    "host": "localhost",
    "port": 8666,
    "user": "example",
    "pass": "example",
    "timeout": 30000
  },
  "mongodb": {
    "url":"mongodb://localhost:27017/tipbot",
    "options": {
      "useMongoClient": true
    }
  },
  "moderation":{
    "role": "ALLOWED ROLE ID",
    "logchannel": "LOG CHANNEL ID"
  }
}
